In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd

In [3]:
import datetime as dt

In [4]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [5]:
engine = create_engine("sqlite:///hawaii.sqlite")
Base = automap_base()
Base.prepare(engine, reflect=True)
#Base.classes.keys()

In [6]:
Measurement = Base.classes.measurement
Station = Base.classes.station

In [7]:
session = Session(engine)

In [8]:
prev_year = dt.date(2017, 8, 23) - dt.timedelta(days=365)

In [9]:
#Using SQLAlchemy to filter by day in a date field (StackOverflow)
#session.query(Person).filter(extract('day', Person.birthdate) == 24).all()

from sqlalchemy import extract

In [10]:
June_results = session.query(Measurement.date, Measurement.prcp).filter(extract('month', Measurement.date) == 6)

In [11]:
June_precip_df = pd.DataFrame(June_results, columns=['date','June Precipitation'])

In [12]:
June_precip_df.describe()

       June Precipitation
count         1574.000000
mean             0.136360
std              0.335731
min              0.000000
25%              0.000000
50%              0.020000
75%              0.120000
max              4.430000

In [13]:
December_results = session.query(Measurement.date, Measurement.prcp).filter(extract('month', Measurement.date) == 12)

In [14]:
December_precip_df = pd.DataFrame(December_results, columns=['date','December Precipitation'])

In [15]:
December_precip_df.describe()

       December Precipitation
count             1405.000000
mean                 0.216819
std                  0.541399
min                  0.000000
25%                  0.000000
50%                  0.030000
75%                  0.150000
max                  6.420000

In [16]:
December_temp_results = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 12)

In [23]:
December_temp_df = pd.DataFrame(December_temp_results, columns=['date','December Temperatures'])

In [24]:
December_temp_df.describe()

       December Temperatures
count            1517.000000
mean               71.041529
std                 3.745920
min                56.000000
25%                69.000000
50%                71.000000
75%                74.000000
max                83.000000

In [25]:
June_temp_results = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 6)

In [26]:
June_temp_df = pd.DataFrame(June_temp_results, columns=['date','June Temperatures'])

In [27]:
June_temp_df.describe()

       June Temperatures
count        1700.000000
mean           74.944118
std             3.257417
min            64.000000
25%            73.000000
50%            75.000000
75%            77.000000
max            85.000000

In [28]:
#Findings

#Hawaii temperatures are relatively stable throughout the year with the Average temperature ranging from 71 degrees in December to ~75 degrees in June.
#Precipitiation, however, is a bit more volatile.  June rainfall averages 0.014 inches while December is 0.22 inches with the maximum recorded of 6.4inches.
#Further analysis may include wind and surf conditions on the island as tides shift leaving southern Oahu very placid in December with the North Shore having the majority of surf.  
#Tourism is also a consideration in the market and should be evaluated.